#style_selector.active{
	left:0;
}
#style_selector{
	background:#fff;
	width:280px;
	position:fixed;
	left:-280px;
	top:200px;
	z-index:9999;
	top: 0;
	height: 100%;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
    border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.admin-bar #style_selector{
	top: 32px;
}
#style_selector_container{
    padding: 10px;
	height: 100%;
	overflow-y: auto;
}
#style_selector .style-main-title{
	color:#000000;
	font-size:15px;
	height:44px;
	line-height:44px;
	text-align:center;
	border-bottom:1px solid rgba(23,24,26,0.15);
	background-image: linear-gradient(top, #FFFFFF 0%, #F7F4F4 100%);
}
#style_selector .box-title{
	display: inline-block;
    font-size: 15px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 100%;
}
#style_selector .input-box{
	padding: 5px 15px 5px 5px;
}
#style_selector .input-box select{
	background:#f7f7f7;
	width:100%;
	padding:10px 18px 10px 10px;
	border:1px solid rgba(23,24,26,0.15);
	font-size:12px;
	color:#000000;
}
#style_selector .style-toggle{
	background: #FFF;
    padding-top: 4px;
	cursor: pointer;
}
#style_selector .style-toggle i{
    font-size: 30px;
    color: #fff;
}
#style_selector .close{
    background: #b88e54;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 40px;
    right: -40px;
    position: absolute;
    text-align: center;
    top: 79px;
    width: 40px;
    z-index: -1;
}
#style_selector .predefined a.preset0{ background: #e03e25; }
#style_selector .predefined a.preset1{ background: #0a9fd8; }
#style_selector .predefined a.preset2{ background: #a57b4a; }
#style_selector .predefined a.preset3{ background: #2997ab; }
#style_selector .predefined a.preset4{ background: #0bb586; }
#style_selector .predefined a.preset5{ background: #0f997e; }
#style_selector .predefined a.preset6{ background: #38cbcb; }
#style_selector .predefined a.preset7{ background: #f1505b; }
#style_selector .predefined a.preset8{ background: #8d57d1; }
#style_selector .predefined a.preset9{ background: #ee3733; }
#style_selector .predefined a.preset10{ background: #f8ba01; }
#style_selector .predefined a.preset11{ background: #f07677; }
#style_selector .predefined a.preset12{ background: #034cb3; }
#style_selector .predefined a.preset13{ background: #1e90ff; }
#style_selector .predefined a.active{
	border: 2px dotted #fff;
}
#style_selector .predefined{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#style_selector .predefined a{
	border-radius: 3px;
    height: 25px;
    margin: 3px;
    max-width: 25px;
    overflow: hidden;
	display: inline-block;
    width: 100%;
}
#style_selector .pattern{
	display: inline-block;
	background: #fff;
}
#style_selector .pattern a{		 
	border: 1px solid #f6bb17;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    height: 26px;
    margin: 3px;
    width: 26px;
}
#style_selector .pattern a.active{
	border: 2px dotted green;
}
#style_selector .pattern a.pattern0{
	background: #eee url("../images/pattern/pattern1.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern1{
	background: #eee url("../images/pattern/pattern2.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern2{
	background: #eee url("../images/pattern/pattern3.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern3{
	background: #eee url("../images/pattern/pattern4.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern4{
	background: #eee url("../images/pattern/pattern5.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern5{
	background: #eee url("../images/pattern/pattern6.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern6{
	background: #eee url("../images/pattern/pattern7.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern7{
	background: #eee url("../images/pattern/pattern8.png") no-repeat scroll center top;
} 
#style_selector .pattern a.pattern8{
	background: #eee url("../images/pattern/pattern9.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern9{
	background: #eee url("../images/pattern/pattern10.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern10{
	background: #eee url("../images/pattern/pattern11.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern11{
	background: #eee url("../images/pattern/pattern12.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern12{
	background: #eee url("../images/pattern/pattern13.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern13{
	background: #eee url("../images/pattern/pattern14.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern14{
	background: #eee url("../images/pattern/pattern15.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern15{
	background: #eee url("../images/pattern/pattern16.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern16{
	background: #eee url("../images/pattern/pattern17.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern17{
	background: #eee url("../images/pattern/pattern18.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern18{
	background: #eee url("../images/pattern/pattern19.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern19{
	background: #eee url("../images/pattern/pattern20.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern20{
	background: #eee url("../images/pattern/pattern21.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern21{
	background: #eee url("../images/pattern/pattern22.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern22{
	background: #eee url("../images/pattern/pattern23.png") no-repeat scroll center top;
}
#style_selector .pattern a.pattern23{
	background: #eee url("../images/pattern/pattern24.png") no-repeat scroll center top;
}
@media screen and (min-width: 1200px) {
	body.zo-boxed.pattern1{background: url('../images/pattern/pattern1.png') repeat;}
	body.zo-boxed.pattern2{background: url('../images/pattern/pattern2.png') repeat;}
	body.zo-boxed.pattern3{background: url('../images/pattern/pattern3.png') repeat;}
	body.zo-boxed.pattern4{background: url('../images/pattern/pattern4.png') repeat;}
	body.zo-boxed.pattern5{background: url('../images/pattern/pattern5.png') repeat;}
	body.zo-boxed.pattern6{background: url('../images/pattern/pattern6.png') repeat;}
	body.zo-boxed.pattern7{background: url('../images/pattern/pattern7.png') repeat;}
	body.zo-boxed.pattern8{background: url('../images/pattern/pattern8.png') repeat;}
	body.zo-boxed.pattern9{background: url('../images/pattern/pattern9.png') repeat;}
	body.zo-boxed.pattern10{background: url('../images/pattern/pattern10.png') repeat;}
	body.zo-boxed.pattern11{background: url('../images/pattern/pattern11.png') repeat;}
	body.zo-boxed.pattern12{background: url('../images/pattern/pattern12.png') repeat;}
	body.zo-boxed.pattern13{background: url('../images/pattern/pattern13.png') repeat;}
	body.zo-boxed.pattern14{background: url('../images/pattern/pattern14.png') repeat;}
	body.zo-boxed.pattern15{background: url('../images/pattern/pattern15.png') repeat;}
	body.zo-boxed.pattern16{background: url('../images/pattern/pattern16.png') repeat;}
	body.zo-boxed.pattern17{background: url('../images/pattern/pattern17.png') repeat;}
	body.zo-boxed.pattern18{background: url('../images/pattern/pattern18.png') repeat;}
	body.zo-boxed.pattern19{background: url('../images/pattern/pattern19.png') repeat;}
	body.zo-boxed.pattern20{background: url('../images/pattern/pattern20.png') repeat;}
	body.zo-boxed.pattern21{background: url('../images/pattern/pattern21.png') repeat;}
	body.zo-boxed.pattern22{background: url('../images/pattern/pattern22.png') repeat;}
	body.zo-boxed.pattern23{background: url('../images/pattern/pattern23.png') repeat;}
	body.zo-boxed.pattern24{background: url('../images/pattern/pattern24.png') repeat;}
}
@media screen and (max-width: 1200px) {
	#style_selector .style-toggle{
		display: none;
	}
}

.ori-demo {
	position: relative;
	display: inline-block;
	margin: 10px 0;
}

.ori-demo .demo-overlay{
	position: absolute;
	height: 50px;
	line-height: 50px;
	text-align: center;
	top: calc(50% - 25px);
	width:100%;
	background: rgba(0,0,0,0.7);
	color: #fff;
	opacity: 0;
	font-weight: bold;
	font-size: 18px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.ori-demo:hover .demo-overlay{
	opacity: 1;
}
