/* Padding equal container */
.padding-equal-container{
	padding-right: calc( (100% - 1170px) / 2 ) !important;
}
.padding-left-equal-container{
	padding-left: calc( (100% - 1170px) / 2 ) !important;
	@include breakpoint-in(992px, 1200px){
		padding-left: 15px !important;
	}
}

/* Primary color class */
.primary-color {
	color: $primary_color;
}
.background-primary-color {
	background-color: $primary_color;
}

.overlay-primary-on-slider:before {
	background: $primary_color !important;
    content: "" !important;
    height: 100% !important;
    position: absolute !important;
    width: 100% !important;
	opacity: 0.9 !important;
	visibility: visible !important;
    z-index: 5;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
	body & { padding-top: 0; }
}

.text-ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-inline li {
	display: inline
}

ul li.lang-item {
	list-style: none;
	display: inline;
}

blockquote {
    margin: 0 0 20px;
    padding: 20px 0 20px 30px;
    position: relative;
	font-size: 20px;
    font-style: italic;
    line-height: 28px;
	color: $primary_color;
	border-left: 6px solid #acacac;
	&.blockquote-1, &.blockquote-2, &.blockquote-3 {
		border-left: medium none;
	}
	&.blockquote-1 {
		&:before, &:after {
			font-family: FontAwesome;
			font-size: 16px;
			position: absolute;
			color: #acacac;
		}
		&:before {
			content: "\f10d";
			top: 5px;
			left: 5px;
		}
		&:after {
			content: "\f10e";
			right: 5px;
			bottom: 5px;
		}
	}
	&.blockquote-3 {
		color: #fff;
	}
	.quote-name {
		display: block;
		font-size: 13px;
		font-style: normal;
		margin-top: 10px;
		color: #171717;
	}
	p {
		line-height: 28px;
	}
}

dl {
    margin-bottom: 1.6em;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1.6em;
}

table, th, td {
    border: 1px solid #eaeaea;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.6em;
    table-layout: fixed; /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th, td {
    padding: 0.4em;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;
}

del {
    opacity: 0.8;
}

dl {
    dt {
        font-weight: bold;
    }
}
/* Alignments
==================================*/
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}


.post-password-form {
    input[type="submit"] { margin-top: 15px; }
}

@include breakpoint-min(1200px){
	.no-padding{
		.container{ padding-left: 0; padding-right: 0; }
	}
}

@include breakpoint-max(992px){
	.no-padding{
		&.zo-row-full-width{
			.no-container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

/*Message box*/
$message-green : #2fba87;
$message-green-light : #e7f6f0;
$message-yellow : #ffc11b;
$message-yellow-light : #fffbf0;
$message-blue : #6dcff6;
$message-blue-light : #effaff;
$message-red : #eb5020;
$message-red-light : #fff0ec;
.custom-message {
	.alert {
		border-radius: 0;
		position: relative;
		margin-bottom: 30px;
		.close {
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 18px;
			font-weight: bold;
		}
		.vertical-align {
			> div:first-child {
				text-align: center;
			}
		}
	}
	&.message-icon-1 {
		.alert {
			strong {
				font-size: 14px;
			}
			.fa {
				background: #fff;
				border-radius: 50%;
				color: #000;
				line-height: 38px;
				@include transform(translateY(calc(50% + 17px)));
				height: 38px;
				text-align: center;
				width: 38px;
			}
		}
	}
	&.message-icon-2 {
		&.message-style-1 {
			.alert {
				.fa {
					border: 1px solid #fff;
				}
			}
		}
		&.message-style-2 {
			.alert {
				&.alert-success {
					.fa {
						border: 1px solid $message-green;
					}
				}
				&.alert-warning {
					.fa {
						border: 1px solid $message-yellow;
					}
				}
				&.alert-info {
					.fa {
						border: 1px solid $message-blue;
					}
				}
				&.alert-danger {
					.fa {
						border: 1px solid $message-red;
					}
				}
			}
		}
		.alert {
			strong {
				font-size: 14px;
			}
			.fa {
				border-radius: 50%;
				line-height: 38px;
				height: 38px;
				text-align: center;
				width: 38px;
			}
			.vertical-align {
				> div:first-child {
					text-align: center;
				}
			}
		}
	}
	&.message-style-1 {
		.alert {
			font-size: 11px;
			color: #fff;
			.close {
				color: #fff;
			}
			&.alert-success {
				background: $message-green;
				border-color: $message-green;
			}
			&.alert-warning {
				background: $message-yellow;
				border-color: $message-yellow;
			}
			&.alert-info {
				background: $message-blue;
				border-color: $message-blue;
			}
			&.alert-danger {
				background: $message-red;
				border-color: $message-red;
			}
		}
	}
	&.message-style-2 {
		.alert {
			font-size: 11px;
			border-width: 2px;
			&.alert-success {
				.close {
					color: $message-green;
				}
				color: $message-green;
				border-color: $message-green;
				background: $message-green-light;
			}
			&.alert-warning {
				.close {
					color: $message-yellow;
				}
				color: $message-yellow;
				border-color: $message-yellow;
				background: $message-yellow-light;
			}
			&.alert-info {
				.close {
					color: $message-blue;
				}
				color: $message-blue;
				border-color: $message-blue;
				background: $message-blue-light;
			}
			&.alert-danger {
				.close {
					color: $message-red;
				}
				color: $message-red;
				border-color: $message-red;
				background: $message-red-light;
			}
		}
	}
}

/**
* Tabs
*/
.nav-primary-color {
	.vc_pagination-color-pink.vc_pagination-style-outline .vc_active .vc_pagination-trigger {
		background-color: #ff83a6!important;
		border-color: #ff83a6!important;
	}
	.vc_pagination-color-pink.vc_pagination-style-outline .vc_pagination-trigger {
		border: 1px solid #3c3c3c!important;
	}
}

/**
**Bullets & Lists
**/
.list-ul {
    line-height: 30px;
}
[class*="list-ul-"] li {
    list-style: outside none none;
	&:before {
		font-family: "FontAwesome";
		margin-right: 10px;
		color: $primary_color;
	}
}
.list-ul-play-circle-o li:before {
    content: "\f01d";
}
.list-ul-check-circle-o li:before {
    content: "\f058";
}
.list-ul-star-o li:before {
    content: "\f006";
}
.list-ul-arrow-circle-right li:before {
    content: "\f0a9";
}
.list-ul-caret-right li:before {
    content: "\f0da";
}
.list-ul-angle-right li:before {
    content: "\f105";
}